<div class="signin-screen">
  <a class="unloklogo"><img src="/assets/logo.png"/></a>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="input-fields">
      <%= f.email_field :email, autofocus: true,placeholder:"email",class: "user-icon" %>
    </div>
    <div class="actions">
      <%= f.submit "reset password",class: "signbtn reset-password" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>
