<div class="signin-screen">
  <a class="unloklogo"><img src="/assets/logo.png"/></a>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-fields">

      <%#= f.text_field :username, autofocus: true, placeholder:"Username",class: "user-icon" %>

      <%= f.email_field :email, autofocus: "off",placeholder:"email",class: "user-icon" %>

      <!-- <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br /> -->
      <%= f.password_field :password, autocomplete: "off", placeholder:"Password",class: "password-icon"%>
      <%= f.password_field :password_confirmation, autocomplete: "off",placeholder:"Password confirmation",class: "password-icon" %>
    </div>

    <div class="actions">
      <%= f.submit "Register", class: "signbtn"  %>
    </div>

  <% end %>
  <p class="txt" style="margin-top:50px">
    <font color="#797979">or sign in with</font>
  </p>
  <div class="other">
    <a href=<%= user_omniauth_authorize_path(:google_oauth2) %>><%= image_tag("google.png") %></a>
  </div>
  <div class="other">
    <a href=<%=user_omniauth_authorize_path(:facebook)%>><%= image_tag("facebook.png") %></a>
  </div>
</div>
